.content .col-lg-12 {
  margin-bottom: 1.5rem;
  text-align: center; }

.content h2 {
  font-weight: 400; }

.content .col-lg-12 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.content-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

.divider {
  margin: 1rem 0 4rem; }

.searchbar {
  float: right; }

.ReactTable {
  line-height: 38px; }
  .ReactTable .rt-thead.-header {
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .75);
    background: linear-gradient(#F4A460, #db9356); }

.available-heading {
  float: left;
  text-transform: uppercase;
  margin-bottom: 30px; }

.available {
  height: 800px !important; }

.table-header {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .75);
  background-color: #F4A460;
  background: linear-gradient(#F4A460, #db9356) !important; }

.table-striped tbody tr:nth-of-type(odd) {
  /* background-color: aliceblue; }  */
  background-color: #fff7f0; }

.pagination {
  margin-right: 20px; }

.page-link {
  color: #333; }

.btn-outline-warning {
  color: #45808f !important; }

.btn-outline-warning:hover,
.btn-outline-warning:active {
  color: white !important;
  background: linear-gradient(#ffb732, #ffa500) !important; }

  @media (max-width: 640px) {
    .searchbar {
      margin-bottom: 50px; } }

  @media (min-width: 640px) {
    .content {
      padding: 20px !important; } }

  @media (max-width: 480px) {
    .content {
      padding: 15px !important; }
    .searchbar {
      margin-bottom: 50px; } }

  @media (min-width: 992px) {
    .content-heading {
      margin-top: 7rem; } } 
      