<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Food for Cause</h1>
            <hr>
            <p>Help supply local food pantries, to make Kansas City a better place.</p>
            {{> nav/menu}}
        </div>
        {{> search/searchTable}}
    </div>
</header>