<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Food for Cause</h1>
            <hr>
            <p class="text-about">Help supply local food pantries, to make Kansas City a better place.</p>
            {{> nav/menu}}
            <h3>Why are Donations so Important?</h3>
            <p class="text-about"> Donating wholesome food to community progams diverts food waste from landfills and puts food on the table for families in need. Donations of non-perishable and unspoiled perishable food from businesses (farms | restaurants | groceries) help stock the shelves at local food banks, soup kitchens, pantries, and shelters.
                Donations from food establishments play an important role in feeding families in our community.
            </p>         
        </div>
    </div>
</header>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="primary">
                <p class="text-faded"> Food For Cause provides a platform to connect local community outreach programs, like food banks and kitchens,
                    with companies that have food to donate. This is our second project in our University of Kansas Fullstack
                    coding bootcamp.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="contactIMG" src="https://avatars1.githubusercontent.com/u/28573775?s=400&v=4" class="img-circle" alt="Reggie Brown">
                    <h3>Reggie Brown</h3>
                    <p class="text-muted">Testing, Handlebars, JavaScript</p>
                    <a href="https://github.com/travelingdoodle" target="_blank">
                        <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/reggie-brown-36b8b065" target="_blank">
                        <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                    </a>
                    <a href="https://twitter.com/BrownTinMan" target="_blank">
                        <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="contactIMG" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t31.0-8/11289505_10206623175400523_674479789307399155_o.jpg?oh=ee867f1c53037eee6c29441a62a86bce&oe=5A7C831C"
                        class="img-circle" alt="Cody Burmeister">
                    <h3>Cody Burmeister</h3>
                    <p class="text-muted">JavaScript, Node.js, Express</p>
                    <a href="https://github.com/cburmeister1" target="_blank">
                        <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/cburmeister" target="_blank">
                        <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="contactIMG" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t31.0-8/19264536_10211076549003336_7258709799413373925_o.jpg?oh=9811b09e9d6903c21dfc8d83a736cb99&oe=5A3C9922"
                        class="img-circle" alt="Megan ORoark">
                    <h3>Megan O'Roark</h3>
                    <p class="text-muted"> CSS, HTML and overall design.</p>
                    <a href="https://github.com/msoroark" target="_blank">
                        <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/megan-oroark/" target="_blank">
                        <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                    </a>
                    <a href="https://twitter.com/MegORoark" target="_blank">
                        <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                    </a>
                </div>
            </div>
            <!-- Custom Script -->
            <script src="js/index.js" type="text/javascript"></script>
        </div>
    </div>
</section> 