body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.home {
  text-align: center; }
  /* text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); } */

h1 {
  font-size: 5em; 
  text-shadow: 4px 4px 4px rgba(0,0,0, .75);}
  /* text-shadow: 2px 5px rgba(0, 0, 0, .6); } */

.cover-subheading {
  font-size: 1.7em;
  font-weight: 300;
  text-shadow: 4px 4px 4px rgba(0,0,0, .75); }

.btn-secondary {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  /* background: linear-gradient(white, darkgray); } */
  /* background: linear-gradient(#FFD700, #DAA520) !important; } */
  background: linear-gradient(#89b9c4, #66A4B3) !important; }

.btn-secondary:hover,
.btn-secondary:focus {
  color: white; }

.site-wrapper {
  display: table;
  background-color: #333;
  width: 100%;
  height: 100%;
  min-height: 100%; }
  /* box-shadow: inset 0 0 5rem rgba(0,0,0,.5); } */

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }

.cover-container {
  position: absolute;
  margin: auto;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0; }

.inner {
  padding: 2rem;
  color: white; }

.masthead {
  margin-bottom: 2rem; }

.nav-masthead .nav-link {
  padding: .25rem 0;
  margin-left: 1rem;
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  font-size: 18px; }

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: .25rem solid rgba(255,255,255,.75);; }

.cover {
  padding: 0rem 1.5rem; }

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700; }

.mastfoot {
  color: rgba(255,255,255,.5); }

.about-heading {
  text-transform: uppercase;
  color: #45808f;
  text-shadow: 0 2px 2px rgba( 0,0,0, .3);  
  margin-top: 1.5em; }

.about-inner {
  padding: 0 3rem 0 3rem;
  font-size: 18px;
  font-weight: 500; }

.about-inner p {
  clear: both; }

@media (min-width: 768px) {
  .nav-masthead {
    float: right; } }

@media (min-width: 640px) {
  .masthead {
    position: fixed;
    top: 0; }
  .mastfoot {
    position: fixed;
    bottom: 0; }
  .site-wrapper-inner {
    vertical-align: middle; }
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; } }

@media (max-width: 480px) {
  .cover-container {
    top: 0; }
  .cover-heading {
    font-size: 4em; }
  .cover-subheading {
    font-size: 1.4em;} }

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 75rem; } }
