a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    padding-right: .5rem;
    padding-left: .5rem; }

a:hover {
    color: rgba(255,255,255,.8);
    text-decoration: none; }

a:active {
    color: rgba(255,255,255,.8); }