.carousel {
  margin-bottom: 4rem; }

.carousel-heading {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);
  font-size: 2.5rem; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10; }

.carousel-item {
  height: 32rem;
  background-color: #777; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem; }

.btn-primary {
  background-color: #5670ab;
  border-color: #3c4e77;
  background: linear-gradient(#5670ab, #3c4e77); }
  /* background: linear-gradient(#a64c4c, #8c1919); } */

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #3c4e77 !important;
  border-color: #2b3855 !important;
  outline: none !important;
  background: linear-gradient(#3c4e77, #2b3855) !important; }

  @media (min-width: 640px) {
    .carousel-subheading {
      margin-bottom: 1.25rem;
      text-shadow: 0px 0px 3px #000;
      font-size: 1.3rem;
      color: #f6f6f6;
      line-height: 1.4; } }