body {
  padding-top: 40px;
  padding-bottom: 40px; }
  
.register {
  background-color: #333; 
  margin-top: 150px; }

#create {
  color: white; }

h5 {
  /* color: white; */
  font-size: 18px; }

hr {
  border-color: white; }

.form-check  {
  font-size: 16px;
  color: #007bff; }

.first {
  border-right: 2px solid black; }

.form-signin {
  max-width: 500px;
  margin: 0 auto; }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white; }

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px; }

.form-signin .form-control:focus {
  z-index: 2; }
  