<p>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/search">Search</a>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/add">Add an Item</a>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/available">Available Items</a>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="/about">About FFC</a>
</p>