body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a; }

.rounded-circle {
  margin-bottom: 20px; }

.bio {
  margin-top: 4rem; }

.bio .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.bio .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.divider {
  margin: 5rem 0; }

.table td {
  border-top: none !important; }

.btn-outline-info {
  margin-top: 10px; }

.reserved,
.listed {
  margin-top: 50px; }

.btn-danger {
  text-transform: uppercase; }
